<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js oldie" lang="ru"> <![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="ru"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">

    <title>{% block title %}{{ project_title|trans }}{% endblock %}</title>
    <link href="/favicon.ico" rel="shortcut icon">

    {% block stylesheets %}
        {% include '::base.css.html.twig' %}
    {% endblock %}

    {% block javascripts %}
        {% include '::base.js.html.twig' %}
    {% endblock %}

    {% block head %}{% endblock %}
</head>

<body{% if bodyClass is defined %} class="{{ bodyClass }}"{% endif %}>
<!--[if lt IE 9]>
<p class="chromeframe">You are using <strong>an outdated</strong> browser. Please <a href="http://browsehappy.com/"><b>update your browser</b></a>.</p>
<![endif]-->
{% block header %}
{% endblock header %}


{% block body %}
{% endblock body %}

{% block footer %}
{% endblock footer %}

<noindex>
    {% block layers %}
    {% endblock layers %}
</noindex>
</body>
</html>
